<div id="<%= dom_id event %>">
  <p>
    <strong>Creator:</strong>
    <%= event.creator %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= event.date %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= event.description %>
  </p>

</div>
