<p style="color: green"><%= notice %></p>

<h1>Dues</h1>

<div id="dues">
  <% @dues.each do |due| %>
    <%= render due %>
    <p>
      <%= link_to "Show this due", due %>
    </p>
  <% end %>
</div>

<%= link_to "New due", new_due_path %>
